* {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
    font-size: 12px;
}

/* TOP BAR */

#menu-bar {
    margin: 0 5%;
    border: 1px solid lightblue;
    padding: 5%;
}

#page-title {
    font-size: 40px;
    display: inline;
    font-weight: lighter;
}

#menu {
    display: inline;
}

#menu > a {
    float: right;
    font-size: 20px;
    margin: 0 30px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background: #3cb0fd;
}

#content {
    margin: 0 5%;
    padding: 5%;
    border: 1px solid lightblue;
    text-align: center;
}

textarea {
    width: 70%;
    height: 100px;
    margin: 5px;
    border: 3px solid lightgray;
}

button {
    border-radius: 2px;
    border-width: 0pc;
    color: #ffffff;
    background: #3498db;
    padding: 5px;
    margin: 3px;
    text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#cfg-central {
    width: 80%;
    margin: 0 auto;
}

#cfg-central > textarea {
    width: 100%;
}

#markov-central {
    width: 80%;
    margin: 0 auto;
}

#markov-central > textarea {
    width: 65%;
}

#markov-table-wrapper {
    float: right;
    height: 110px;
    width: 30%;
    border: 1px solid black;
    margin: 5px 0;
}

#markov-table-wrapper > table {
    width: 100%;
}

#markov-central > textarea {

}

#generate-action {

}